GOOGLE_CREDENTIALS_PATH=../credentials.json
SPREADSHEET_NAME=
SHEETS_TO_CHECK=HARIAN,MINGGUAN,BULANAN
COL_EMAIL=0
COL_PASSWORD=1
COL_PROFILE=2
COL_LOGOUT=4
COL_COOKIE=8
DATA_START_ROW=2
CRON_SCHEDULE=*/15 * * * *
KEEPALIVE_SCHEDULE=0 2 * * *
HEADLESS=true
CODE_INPUT_MODE=telegram
TELEGRAM_CODE_TIMEOUT=300000
BOT_TOKEN=
ADMIN_ID=
COOKIE_FILE=cookies.json
